html {
  font-size: 1.1em;
}

body {
    font-family: arial;
    font-size: 100%;
}

section {
  margin: 10px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}


.header {
  width: auto;
  height: 200px;
  overflow: hidden;
}

.header h1{
  position: absolute;
  margin-top: -270px;
  text-align: center;
  width: 100%;
}

#imageheader {
  width:100%;
  height: auto;
  opacity: 0.5;
}

.allergies {
    color: #ff5500;
}

.Selection {
  background-color: #000000;
  color: #ffffff;
  border: 1px dashed #ffffff;
  background-size:cover;
}

.Selection #myID {
  text-align: center;
}

.Order {
  border: 1px dashed #000000;
  padding: 10px;
  width: auto;
}

#gluten {
    text-transform: uppercase;
}

#lactose {
    text-transform: uppercase;
}

button:hover {
  color: #ff5500;
}

section button{
  margin-top: 20px;
}

.wrapper {
     display: grid;
     grid-row: auto;
     grid-column: auto;
     height: auto;
     max-width: 100%;
     width: auto;
     overflow-x: scroll;
     overflow-y: scroll;
 }

 .box {
     text-align: center;
     grid-row: auto;
     grid-column: auto;
     width:200px;
     margin-left: 20px;
     margin-right: 10px;
     max-width: 100%;
 }

 .picture {
   max-width: 100%;
   height: auto;
 }

 .list {
   text-align: left;
 }

 .ul {
   height: 84px;
   width: 200px;
 }
